.environment-3d-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.environment-3d-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}
